@import "tailwindcss";

html {
  overflow-y: scroll;
}

:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  min-height: 100vh;
  width: 100%;
  color: #111827;
  background-color: #ffffff;
}

#root {
  min-height: 100vh;
  width: 100%;
}
